body {
	/*dark mode*/
	background-image: linear-gradient(to right, #2b2b2b 10%, rgb(69, 69, 69));
	/* light mode */
	/* background-image: linear-gradient(to right,  rgb(209, 209, 209) 10%, #a1a1a1) */
	font-family: "chakra petch";
}

#aboutme{
	height: 30dvh;
}
#menu {
	margin-top: 10dvh;
	margin-right: 10dvw;
}
#slider {
	margin-top: 4dvh;
	height: 45dvh;
}

#contentBody{
	margin-top: 4dvh;
	width: 100%;

}

#carousel-content {
	margin-top: 4dvh;
}

/*
#home{
	margin-left: -10dvw;
	margin-right: -10dvw; 
}
*/

.carousel-control-prev {
    left: -5%; /*Ajuste para posicionar fora da esquerda */
	width: 4dvw;
}
.carousel-control-next {
    right: -5%; /*Ajuste para posicionar fora da direita */
	width: 4dvw;

}

.skills-list {
	display: table;
	margin: 0 auto;
}